<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PortalCT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=40;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.30.10.243;Persist Security Info=True;User ID=ti;Password=ticasaeterra" providerName="System.Data.SqlClient" />
    <add name="TIConnectionString" connectionString="Data Source=10.30.10.243;Initial Catalog=TI;Persist Security Info=True;User ID=ti;Password=ticasaeterra" providerName="System.Data.SqlClient" />
    <add name="P12OficialConnectionString" connectionString="Data Source=10.30.10.243;Initial Catalog=P12Oficial;Persist Security Info=True;User ID=ti;Password=ticasaeterra" providerName="System.Data.SqlClient" />
    <add name="UAUConnectionString" connectionString="Data Source=10.30.10.243;Initial Catalog=UAU;Persist Security Info=True;User ID=ti;Password=ticasaeterra" providerName="System.Data.SqlClient" />
    <add name="IntranetctConnectionString" connectionString="Data Source=10.30.10.243;Initial Catalog=Intranetct;Persist Security Info=True;User ID=ti;Password=ticasaeterra" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation strict="false" explicit="true" targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!-- inicio seguranca-->
    <sessionState mode="SQLServer" cookieless="false" timeout="60" sqlConnectionString="data source=10.30.10.243;user id=ti;password=ticasaeterra" />
    <machineKey decryptionKey="7E09C43773BF4657C2D76034E928BE316630F9794645660D" validationKey="C19A8BD4F03C2C4FB0E6D23AF606647EDAC537064B2CB1DED0EE6DBE7022777C5FF02AA4649E431D4CF1CE7D5CB1530A34B73D7924587B42A2698DF84B712A8C" />
    <httpCookies domain="casaeterra.com" />
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" name=".CASAETERRA" defaultUrl="dashboard.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Fim seguranca--> 
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="loginSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sistemas.casaeterra.com/PortalWS/PortalService.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsprotheus.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://webservicect.casaeterra.com/login.asmx" binding="basicHttpBinding" bindingConfiguration="loginSoap" contract="WebserviceVB.loginSoap" name="loginSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PortalCT.My.MySettings>
      <setting name="conexaobanco" serializeAs="String">
        <value>Data Source=10.30.10.243;Initial Catalog=P12Oficial;Persist Security Info=True;User ID=ti;Password=ticasaeterra;Connect Timeout=50000</value>
      </setting>
      <setting name="conexaobancoTI" serializeAs="String">
        <value>Data Source=10.30.10.243;Initial Catalog=TI;Persist Security Info=True;User ID=ti;Password=ticasaeterra</value>
      </setting>
      <setting name="conexaobancoHlp" serializeAs="String">
        <value>Data Source=10.4.0.16;Initial Catalog=Servicedesk;Persist Security Info=True;User ID=ti;Password=ticasaeterra</value>
      </setting>
      <setting name="conexaobanco2" serializeAs="String">
        <value>Data Source=10.30.10.243;Initial Catalog=Intranetct;Persist Security Info=True;User ID=ti;Password=ticasaeterra;Connect Timeout=50000</value>
      </setting>
    </PortalCT.My.MySettings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 2C02F835-B8F9-4E4D-AFB7-EE7284851F65-->